<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @person.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @person.telephone %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Password:</b>
  <%= @person.password %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
